<%=@pull.diff_url %>
<hr>
<h2><%= @pull.title %></h2>
<hr>
<div class="flex-table gh-header-meta">
    <div class="flex-table-item">
        <div class="state state-open">
          <span class="octicon octicon-git-pull-request"></span>
          <%=@pull.state %>
        </div>
    </div>
    <div class="flex-table-item flex-table-item-primary">
		<a href="#" class="author pull-header-username css-truncate css-truncate-target expandable"><%=@pull.head.user.login %></a>
   		wants to merge 1 commit into
		<span class="commit-ref current-branch css-truncate user-select-contain expandable"><span class="css-truncate-target user"><%=@pull.base.repo.owner.login %></span>:<span class="css-truncate-target"><%=@pull.base.ref%></span></span>
		from
		<span class="commit-ref current-branch css-truncate user-select-contain expandable"><span class="css-truncate-target user"><%=@pull.head.repo.owner.login %></span>:<span class="css-truncate-target"><%=@pull.head.ref%></span></span>
    </div>
  </div>
<hr>
<div class="file">
	<div class="header">app/webroot/js/Manage/Views/SaveFilterActionItem.js</div>
	<ul class="diff">
		<li>console.log('callback1', arguments);</li>
		<li>self.destroyReviewalTools();</li>
		<li>self.fetch();</li>
		<li class="red"><span>-</span></li>
		<li class="freen"><span>+</span>ga('send', 'event', 'Manage - Asset Review', 'Click', 'Initialize Annotation');</li>
	</ul>
</div>

<div class="file">
	<div class="header">app/webroot/js/Manage/Views/SaveFilterActionItem.js</div>
	<ul class="diff">
		<li>console.log('callback1', arguments);</li>
		<li>self.destroyReviewalTools();</li>
		<li>self.fetch();</li>
		<li class="red"><span>-</span></li>
		<li class="freen"><span>+</span>ga('send', 'event', 'Manage - Asset Review', 'Click', 'Initialize Annotation');</li>
	</ul>
</div>

<div class="file">
	<div class="header">app/webroot/js/Manage/Views/SaveFilterActionItem.js</div>
	<ul class="diff">
		<li>console.log('callback1', arguments);</li>
		<li>self.destroyReviewalTools();</li>
		<li>self.fetch();</li>
		<li class="red"><span>-</span></li>
		<li class="freen"><span>+</span>ga('send', 'event', 'Manage - Asset Review', 'Click', 'Initialize Annotation');</li>
	</ul>
</div>

<div class="file">
	<div class="header">app/webroot/js/Manage/Views/SaveFilterActionItem.js</div>
	<ul class="diff">
		<li>console.log('callback1', arguments);</li>
		<li>self.destroyReviewalTools();</li>
		<li>self.fetch();</li>
		<li class="red"><span>-</span></li>
		<li class="freen"><span>+</span>ga('send', 'event', 'Manage - Asset Review', 'Click', 'Initialize Annotation');</li>
	</ul>
</div>

<hr>

COMMENT FEED HERE
<%=@comments%>
<% @comments.each do |comment|%>
fob
<%= comment.url%>
<% end %>
<hr>

NEW COMMENT FORM HERE
<%= @pull.inspect %>

